.care__section{
    background-color: var(--primary_color);
    padding-top: 5rem;
 
}
.care{
    display: grid;
    grid-template-columns: repeat(16 , 1fr);

  
    
}
.care__left{
    display: grid;
    grid-column: 3/10;
   
    
    position: relative;
}
.care__left img{
    
    
   
}
.care__right{
  
    grid-column: 10/16;
  
   
   
    
}
.care__items{
    font-weight: 600;
    padding-top: 3rem;
    padding-bottom: 3rem;
    
    
    

}
.care__item{
    line-height: 3.3rem;
    transition: all 0.3s ease-in-out;
}
.care__item i{
     color: var(--secondry_color);
     font-size: 2.5rem;
     padding-right: 0.5rem;
}

.care__image{

}
.box__image{
    position: absolute;
    bottom: 7rem;
    left: 28rem;
}