.find__doctor{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    padding-bottom: 5rem;
    padding-top: 3rem;
    gap: 1rem;
    

   
}
.find__doctor--left{
    display: grid;
    grid-column: 2/8;
    grid-template-rows: 20rem; 
    align-items: center; 
    
 
}

.hospital{
   
}
.find__doctor--right{
    display: grid;
    grid-column: 8/-1;
    grid-template-rows: 50rem;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 3rem;
}
.find__doctor--right img{
   width: 110%;
  
    
   
}
.box__find{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: absolute;
    z-index: 490;
    left: 9rem;
  
    
    width: 18rem;
    height: auto;
    border-radius: 1rem;
}

.box__find input{
    border-radius: 0.3rem;
    border: 0.1rem solid rgb(240, 239, 239);
    background-color:#F8FAFC; ;
    padding: 1rem;
   
}
.box__title{
  font-size: 2rem;
  font-weight: 800;
}
.find__search{
    display: grid;
    grid-template-columns: auto;
    line-height: 2.5rem;
    gap: 2rem;
   
    

}
.find__item{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    position: relative;
    
    
}
.icon__search i{
    background-color: #eeee;
    color: var(--secondry_color);
    font-size: 2rem;
    padding: 1rem;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
    

}
.icon__search i:hover{
    box-shadow: var(--secondry_color) 0px 0px 0px 2px;
    background-color: white;
}



.line::after {
    content: '';
    width: 2px;
    height: 76px;
    background-color: #cccc;
    position: absolute;
    left: 18px;
    top:42px
    
    
}
.text__search b{
    font-size: 2rem;
}

.btn__box{
    padding: 0.8rem 5.4rem;

}