.health__section{
    background-color: var(--primary_color);
    padding-bottom: 9rem;
    padding-top: 2rem;
    
}
.health{
    display: grid;
    grid-template-columns: 1.1fr 2.1fr;
    grid-template-rows: 35rem;
    gap: 1rem;
    font-weight: 400;
}
.health__left{
    display: grid;
    grid-template-columns:1fr;
    
    
    
}
.health__right{
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
}
.health__links{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    gap: 1rem; 
    align-items: center;
    
}
.health__link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--body_color);
    border-radius: 0.8rem;
    padding: 1rem 
    
}

.health__link:hover{
    background-color: #6DA54F ;
   
}
.health__link img{
    padding-right: 1rem;
}
.health__link img:hover{
    transform: skewY(20deg);
    
}
.health__link a{
    color: white;
}
.health__link a:hover{
    
}
.health__link img{
    
}

.health__right img{   
    position: absolute;
    right: 10%;
    z-index: 399;
}
.box__back{
    background-color: white;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: auto;

    margin-top: -18.1rem;
    gap: 2rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    position: relative;
    z-index: 400;
    padding: 2rem;
     
}

.box__searchs{ 
    display: grid;
    grid-template-columns: 9fr 9fr 1fr;
    justify-items: center;  
   
 
}
.box__searchs input{
    padding: 1.5rem 34rem 1.5rem 1.5rem;
    border-radius: 0.5rem;
    border: 0.1rem solid rgb(240, 239, 239);
    background-color:#F8FAFC; ;
    outline: none;
    

}
.box__looking{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}
.lookings{
    display: grid;
    grid-template-columns: 13fr 1fr;
   
}
.looking__title{
    font-size: 2rem;
    font-weight: 600;   
}
.btn__more{
    color: var(--secondry_color);
    background-color: #CCDFFF;
    border-color: #cccd;
}
.search__icon i{
    background-color: var(--secondry_color);
    color: white;
    font-size: 2rem;
    border-radius: 0.5rem;
    padding: 1.4rem;

}
.search__icon i:hover{
    background-color: var(--green_color);
    
}