
.navbar{
    background-color: var(--primary_color);
    display: grid;
    grid-template-columns: 2fr 6fr 2fr ;
    grid-template-rows: 5rem;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
}
.navbar__menu{
    
   
}
.navbar__menu ul li {
    
    display: inline;
    padding-right: 2rem;
   
    font-weight: 800;
    
}
.navbar__menu ul li a:hover{
    color: var(--secondry_color);
    border-bottom: #6DA54F solid 0.2rem;
    

}
a{
    text-decoration: none;
}

.navbar__logo{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.navbar__links a{
    margin-right: 2rem;  
    font-weight: 800; 
}
.navbar__links a:hover{
    color: var(--secondry_color);
    border-bottom: #6DA54F solid 0.2rem;
   
}

