
.navbar{
    background-color: var(--primary_color);
    display: grid;
    grid-template-columns: repeat(20 , 1fr);
    
    align-items: center;
    padding: 1rem;
 
    
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    position: fixed;
    z-index: 900;
    width: 100%;
    
   
}
.navbar__logo{
    
    grid-column: 2/5;
    
}

.navbar__menu{
   
    grid-column: 6/15;
    
    
        
   
}
.navbar__links{
    
    
    grid-column: 18/-1;
    
}

.navbar__menu ul li {
    
    display: inline;
    padding-right: 2rem;
    font-weight: 800;
    
    
}
.navbar__menu ul li a:hover{
    color: var(--secondry_color);
    border-bottom: #6DA54F solid 0.2rem;
    

}
a{
    text-decoration: none;
    color: var(--body_color);
}

.navbar__links a{
    margin-right: 2rem;  
    font-weight: 800; 
}
.navbar__links a:hover{
    color: var(--secondry_color);
    border-bottom: #6DA54F solid 0.2rem;
   
}

