.popular__searches{  
    display: grid;
    grid-template-columns: auto;
    gap: 4rem;
    padding-top: 5rem;
    

}
.popoular__title{
    font-size: 3rem;
    font-weight: 600;
    padding-left: 6rem;
}
.popular__items{
    display: grid;
    grid-template-columns: 1fr 6fr ;
    grid-template-rows: 15rem;
    gap: 3rem;
    margin-bottom: 8rem;
  
  
    
}


.specialties{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 15rem;
    gap: 3rem;
    margin-bottom: 8rem;
    
   
    

}
.popular__content{

}
.hidden{
    display: none
}


.popular__item{
    background-color: white;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    transition: all 0.3s ease-in-out;
    
    
}
.popular__item:hover{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    background-color: var(--primary_color);
    transform: translateZ(1rem);
    transform: translateY(-1rem);
    
}

.popular__item img{
    width: 5rem;
    height: auto;
}
.popular__link{
    border-right: solid 0.2rem var(--secondry_color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 5rem;
    padding-right: 1rem;
    
    
    
    
}
.linkcontent{
    background-color: transparent;
    color: var(--secondry_color);
    
    
    font-size: 1.5rem;
    font-weight: 600;
    
}



.tabcontent{
    
}